<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {% block body %}

    <!-- Header section -->
    <header>
        <h1>
            <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png"
                alt="Wild Code School logo" />
            Les Argonautes
        </h1>
    </header>

    <!-- Main section -->
    <main>

        <!-- New member form -->
        <h2>Ajouter un(e) Argonaute</h2>


        <div class="new-member-form">
            <label for="name">Nom de l&apos;Argonaute</label>
            {{ form_start(form)}}
            {{ form_row(form.nom ,{'label':false, 'value' :'' }) }}
            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>

        <!-- Member list -->
        <h2>Membres de l'équipage</h2>
        <section class="member-list">

                <div class="colonne">

                    {% for name in names %}

                    <div class="member-item">
                        {% if loop.index % 3 == 1 %}
                        <div class="col">
                            {% endif %}
                            {{ name.nom }}
                            {% if loop.index % 3 == 0 or loop.last %}
                        </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </section>
    </main>

    <footer>
        <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
    </footer>
    {% endblock %}


</body>

</html>